# 1050. Actors and Directors Who Cooperated At Least Three Times
[問題](https://leetcode.com/problems/actors-and-directors-who-cooperated-at-least-three-times/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 解答の方針
actor_idとdirector_idでグルーピングして、そのレコードの件数を調べる。

In [1]:
import pandas as pd

In [12]:
def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    groups = actor_director.groupby(["actor_id", "director_id"])
    count = groups["timestamp"].count().reset_index()
    count = count[count["timestamp"] >= 3][["actor_id", "director_id"]]
    return count

In [13]:
actor_director = """
| actor_id | director_id | timestamp |
| 1        | 1           | 0         |
| 1        | 1           | 1         |
| 1        | 1           | 2         |
| 1        | 2           | 3         |
| 1        | 2           | 4         |
| 2        | 1           | 5         |
| 2        | 1           | 6         |
"""

In [14]:
actor_director = actor_director.replace(" ", "")
with open("data.txt", "w") as f:
    f.write(actor_director)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [15]:
df

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [16]:
actors_and_directors(df)

   actor_id  director_id
0         1            1

## test scripts

In [6]:
groups = df.groupby(["actor_id", "director_id"])

In [8]:
count = groups["timestamp"].count().reset_index()

In [9]:
count

   actor_id  director_id  timestamp
0         1            1          3
1         1            2          2
2         2            1          2

In [10]:
count = count[count["timestamp"] >= 3][["actor_id", "director_id"]]

In [11]:
count

   actor_id  director_id
0         1            1