# 1148. Article Views I
[問題](https://leetcode.com/problems/article-views-i/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [11]:
def article_views(views: pd.DataFrame) -> pd.DataFrame:
    views = views.where(views["author_id"] == views["viewer_id"]).dropna().drop_duplicates(subset="author_id").sort_values(by="author_id", ascending=True)
    return views[["author_id"]].rename(columns={"author_id": "id"})

In [12]:
headers = [ "article_id", "author_id", "viewer_id", "view_date"]

views = [
    [1 , 3, 5, "2019-08-01" ],
    [1 , 3, 6, "2019-08-02" ],
    [2 , 7, 7, "2019-08-01" ],
    [2 , 7, 6, "2019-08-02" ],
    [4 , 7, 1, "2019-07-22" ],
    [3 , 4, 4, "2019-07-21" ],
    [3 , 4, 4, "2019-07-21" ],
]

In [13]:
df = pd.DataFrame(views, columns=headers)

In [14]:
df

   article_id  author_id  viewer_id   view_date
0           1          3          5  2019-08-01
1           1          3          6  2019-08-02
2           2          7          7  2019-08-01
3           2          7          6  2019-08-02
4           4          7          1  2019-07-22
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

In [15]:
df["view_date"] = pd.to_datetime(df["view_date"])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article_id  7 non-null      int64
 1   author_id   7 non-null      int64
 2   viewer_id   7 non-null      int64
 3   view_date   7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 356.0 bytes

In [17]:
article_views(df)

    id
5  4.0
2  7.0