# 1173. Immediate Food Delivery I
[問題](https://leetcode.com/problems/immediate-food-delivery-i/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 回答の方針
同一の日付のレコードと、全件のカウントをして、その割合を計算する。
カウントには、len()を使う。

In [21]:
import pandas as pd
from datetime import datetime

In [22]:
delivery = """
| delivery_id | customer_id | order_date | customer_pref_delivery_date |
| 1           | 1           |2019-08-01|2019-08-02|
| 2           | 5           |2019-08-02|2019-08-02|
| 3           | 1           |2019-08-11|2019-08-11|
| 4           | 3           |2019-08-24|2019-08-26|
| 5           | 4           |2019-08-21|2019-08-22|
| 6           | 2           |2019-08-11|2019-08-13|
"""

In [41]:
with open("data.txt", "w") as f:
    f.write(delivery)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)
df.columns = [x.strip() for x in df.columns]
df["order_date"] = pd.to_datetime(df["order_date"], format="%Y-%m-%d")
df["customer_pref_delivery_date"] = pd.to_datetime(df["customer_pref_delivery_date"], format="%Y-%m-%d")

In [42]:
df

   delivery_id  customer_id order_date customer_pref_delivery_date
0            1            1 2019-08-01                  2019-08-02
1            2            5 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-11
3            4            3 2019-08-24                  2019-08-26
4            5            4 2019-08-21                  2019-08-22
5            6            2 2019-08-11                  2019-08-13

In [32]:
count_all = len(df)

In [33]:
same_day = df[df["order_date"] == df["customer_pref_delivery_date"]]

In [34]:
same_day

   delivery_id  customer_id order_date customer_pref_delivery_date
1            2            5 2019-08-02                  2019-08-02
2            3            1 2019-08-11                  2019-08-11

In [35]:
count_same_day = len(same_day)

In [38]:
ans = pd.DataFrame({"immediate_percentage": [f"{(count_same_day / count_all):.2f}"]})

In [39]:
ans

  immediate_percentage
0                 0.33

In [44]:
def immediate_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    count_all = len(delivery)
    same_day = delivery[delivery["order_date"] == delivery["customer_pref_delivery_date"]]
    count_same_day = len(same_day)
    ans = pd.DataFrame({"immediate_percentage": [f"{(count_same_day/count_all):.2f}"]})
    # round(count_same_day/count_all * 100, 2)
    return ans

In [45]:
immediate_delivery(df)

  immediate_percentage
0                 0.33