# 1264. Page Recommendations
[問題](https://leetcode.com/problems/page-recommendations/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
friendshipの列を入れ替えて、concatする.

In [1]:
import pandas as pd

In [60]:
data = [[1, 2], [1, 3], [1, 4], [2, 3], [2, 4], [2, 5], [6, 1]]
friendship = pd.DataFrame(data, columns=['user1_id', 'user2_id']).astype({'user1_id':'Int64', 'user2_id':'Int64'})
data = [[1, 88], [2, 23], [3, 24], [4, 56], [5, 11], [6, 33], [2, 77], [3, 77], [6, 88]]
likes = pd.DataFrame(data, columns=['user_id', 'page_id']).astype({'user_id':'Int64', 'page_id':'Int64'})

In [61]:
friendship

   user1_id  user2_id
0         1         2
1         1         3
2         1         4
3         2         3
4         2         4
5         2         5
6         6         1

In [62]:
likes

   user_id  page_id
0        1       88
1        2       23
2        3       24
3        4       56
4        5       11
5        6       33
6        2       77
7        3       77
8        6       88

In [65]:
def page_recommendations(friendship: pd.DataFrame, likes: pd.DataFrame) -> pd.DataFrame:
    swapped = pd.DataFrame({"user1_id": friendship["user2_id"], "user2_id": friendship["user1_id"]})
    friendship_concat = pd.concat([friendship, swapped])
    user1_friend = friendship_concat[friendship_concat["user1_id"] == 1]["user2_id"]
    recommendations = likes[likes["user_id"].isin(user1_friend)]["page_id"].reset_index()
    recommendations = recommendations.rename({"page_id": "recommended_page"}, axis=1)
    recommendations = recommendations.drop_duplicates(subset="recommended_page")
    user1_already_like = likes[likes["user_id"] == 1]["page_id"]
    recommendations = recommendations[~recommendations["recommended_page"].isin(user1_already_like)]
    return recommendations[["recommended_page"]]

In [66]:
page_recommendations(friendship, likes)

   recommended_page
0                23
1                24
2                56
3                33
4                77

## Test scripts

In [39]:
swapped = pd.DataFrame({"user1_id": friendship["user2_id"], "user2_id": friendship["user1_id"]})

In [40]:
swapped

   user1_id  user2_id
0         2         1
1         3         1
2         4         1
3         3         2
4         4         2
5         5         2
6         1         6

In [41]:
friendship_concat = pd.concat([friendship, swapped])

In [42]:
friendship_concat

   user1_id  user2_id
0         1         2
1         1         3
2         1         4
3         2         3
4         2         4
5         2         5
6         6         1
0         2         1
1         3         1
2         4         1
3         3         2
4         4         2
5         5         2
6         1         6

In [43]:
df = friendship_concat[friendship_concat["user1_id"] == 1]["user2_id"]

In [44]:
recommendation = likes[likes["user_id"].isin(df)].reset_index()

In [45]:
recommendation

   index  user_id  page_id
0      1        2       23
1      2        3       24
2      3        4       56
3      5        6       33
4      6        2       77
5      7        3       77
6      8        6       88

In [46]:
recommendation = recommendation.rename({"page_id": "recommended_page"}, axis=1)

In [47]:
recommendation = recommendation.drop_duplicates(subset="recommended_page")

In [48]:
# すでにlikeしているページの除外
user1_already_like = likes[likes["user_id"] == 1]["page_id"]
recommendation = recommendation[~recommendation["recommended_page"].isin(user1_already_like)]

In [49]:
recommendation[["recommended_page"]]

   recommended_page
0                23
1                24
2                56
3                33
4                77