# 1285. Find the Start and End Number of Continuous Ranges
[問題](https://leetcode.com/problems/find-the-start-and-end-number-of-continuous-ranges/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
Gaps and islandsを使う。

In [1]:
import pandas as pd

In [72]:
# data = [[1], [2], [3], [7], [8], [10]]
data = [[12], [24]]
logs = pd.DataFrame(data, columns=['log_id']).astype({'log_id':'Int64'})

In [73]:
logs

   log_id
0      12
1      24

In [74]:
def find_continuous_ranges(logs: pd.DataFrame) -> pd.DataFrame:
    df = logs.sort_values(by="log_id", ignore_index=True)
    df["diff"] = df.groupby(df["log_id"] - df.index)["log_id"].transform("min")
    start = df.groupby("diff")["log_id"].first().reset_index()
    descending_df = df.sort_values(by="log_id", ascending=False)
    end = descending_df.groupby("diff")["log_id"].first().reset_index()
    result = pd.merge(start, end, on="diff")
    result = result.rename({"log_id_x": "start", "log_id_y": "end"}, axis=1)
    return result.sort_values(by="start")[["start", "end"]]

In [75]:
find_continuous_ranges(logs)

   start  end
0     12   12
1     24   24

## Test scripts

In [50]:
df = logs.sort_values(by="log_id", ignore_index=True)

In [51]:
df

   log_id
0       1
1       2
2       3
3       7
4       8
5      10

In [57]:
df["diff"] = df.groupby(df["log_id"] - df.index)["log_id"].transform("min")

In [58]:
df

   log_id  diff
0       1     1
1       2     1
2       3     1
3       7     7
4       8     7
5      10    10

In [60]:
start = df.groupby("diff")["log_id"].first().reset_index()

In [61]:
start

   diff  log_id
0     1       1
1     7       7
2    10      10

In [62]:
descending_df = df.sort_values(by="log_id", ascending=False)

In [63]:
end = descending_df.groupby("diff")["log_id"].first().reset_index()

In [64]:
end

   diff  log_id
0     1       3
1     7       8
2    10      10

In [65]:
result = pd.merge(start, end, on="diff" )

In [66]:
result = result.rename({"log_id_x": "start", "log_id_y": "end"}, axis=1)

In [67]:
result

   diff  start  end
0     1      1    3
1     7      7    8
2    10     10   10

In [68]:
result = result.sort_values(by="start")[["start", "end"]]

In [69]:
result

   start  end
0      1    3
1      7    8
2     10   10