# 1322. Ads Performance
[問題](https://leetcode.com/problems/ads-performance/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 解答の方針

clicked, viewed, ignoredをカラムにもつデータフレームを定義する。

In [1]:
import pandas as pd

In [21]:
ads = """
| ad_id | user_id | action  |
| 1     | 1       |Clicked|
| 2     | 2       |Clicked|
| 3     | 3       |Viewed|
| 5     | 5       |Ignored|
| 1     | 7       |Ignored|
| 2     | 7       |Viewed|
| 3     | 5       |Clicked|
| 1     | 4       |Viewed|
| 2     | 11      |Viewed|
| 1     | 2       |Clicked|
"""

In [113]:
with open("data.txt", "w") as f:
    f.write(ads)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)
df.columns = [ x.strip() for x in df.columns]

In [114]:
df

   ad_id  user_id   action
0      1        1  Clicked
1      2        2  Clicked
2      3        3   Viewed
3      5        5  Ignored
4      1        7  Ignored
5      2        7   Viewed
6      3        5  Clicked
7      1        4   Viewed
8      2       11   Viewed
9      1        2  Clicked

In [43]:
clicked = df.where(df["action"] == "Clicked").groupby("ad_id")["action"].count()

In [44]:
viewed = df.where(df["action"] == "Viewed").groupby("ad_id")["action"].count()

In [45]:
ignored = df.where(df["action"] == "Ignored").groupby("ad_id")["action"].count()

In [46]:
clicked

ad_id
1.0    2
2.0    1
3.0    1
Name: action, dtype: int64

In [47]:
viewed

ad_id
1.0    1
2.0    2
3.0    1
Name: action, dtype: int64

In [48]:
ignored

ad_id
1.0    1
5.0    1
Name: action, dtype: int64

In [90]:
data = {
    "viewed": viewed, "clicked": clicked, "ignored": ignored
}
df2 = pd.DataFrame(data)

In [91]:
df2 = df2.reset_index(drop=False)

In [94]:
df2

   ad_id  viewed  clicked  ignored
0    1.0     1.0      2.0      1.0
1    2.0     2.0      1.0      NaN
2    3.0     1.0      1.0      NaN
3    5.0     NaN      NaN      1.0

In [101]:
ans = pd.DataFrame()

In [102]:
ans["ad_id"] = df2["ad_id"]

In [104]:
ans["ctr"] = round(df2["clicked"]/(df2["clicked"] + df2["viewed"]) * 100, 2)

In [106]:
ans.fillna(0, inplace=True)

In [107]:
ans

   ad_id    ctr
0    1.0  66.67
1    2.0  33.33
2    3.0  50.00
3    5.0   0.00

In [109]:
ans.sort_values(by="ctr", ascending=False, inplace=True)

In [110]:
ans

   ad_id    ctr
0    1.0  66.67
2    3.0  50.00
1    2.0  33.33
3    5.0   0.00

In [131]:
def ads_performance(ads: pd.DataFrame) -> pd.DataFrame:
    clicked = ads.where(ads["action"] == "Clicked").groupby("ad_id")["action"].count()
    viewed = ads.where(ads["action"] == "Viewed").groupby("ad_id")["action"].count()
    ignored = ads.where(ads["action"] == "Ignored").groupby("ad_id")["action"].count()
    data = {"Clicked": clicked, "Viewed": viewed, "Ignored": ignored}
    df = pd.DataFrame(data)
    df = df.reset_index(drop=False)
    df.fillna(0, inplace=True)
    ans = pd.DataFrame()
    ans["ad_id"] = df["ad_id"]

    calculated = round((df["Clicked"]/(df["Clicked"] + df["Viewed"]) * 100), 2)

    ans["ctr"] = calculated
    ans.fillna(0, inplace=True)
    ans = ans.sort_values(by=["ctr", "ad_id"], ascending=[False, True])
    return ans

In [132]:
ads_performance(df)

   ad_id    ctr
0    1.0  66.67
2    3.0  50.00
1    2.0  33.33
3    5.0   0.00