# 1398. Customers Who Bought Products A and B but Not C
[問題](https://leetcode.com/problems/customers-who-bought-products-a-and-b-but-not-c/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

In [7]:
import pandas as pd

In [17]:
data = [[1, 'Daniel'], [2, 'Diana'], [3, 'Elizabeth'], [4, 'Jhon']]
customers = pd.DataFrame(data, columns=['customer_id', 'customer_name']).astype({'customer_id':'Int64', 'customer_name':'object'})
data = [[10, 1, 'A'], [20, 1, 'B'], [30, 1, 'D'], [40, 1, 'C'], [50, 2, 'A'], [60, 3, 'A'], [70, 3, 'B'], [80, 3, 'D'], [90, 4, 'C']]
orders = pd.DataFrame(data, columns=['order_id', 'customer_id', 'product_name']).astype({'order_id':'Int64', 'customer_id':'Int64', 'product_name':'object'})

In [29]:
product_A = orders[orders["product_name"] == "A"]["customer_id"]
product_B = orders[orders["product_name"] == "B"]["customer_id"]
product_C = orders[orders["product_name"] == "C"]["customer_id"]

In [30]:
product_A

0    1
4    2
5    3
Name: customer_id, dtype: Int64

In [31]:
product_B

1    1
6    3
Name: customer_id, dtype: Int64

In [32]:
product_C

3    1
8    4
Name: customer_id, dtype: Int64

In [33]:
customers

   customer_id customer_name
0            1        Daniel
1            2         Diana
2            3     Elizabeth
3            4          Jhon

In [36]:
condA = customers["customer_id"].isin(product_A)
condB = customers["customer_id"].isin(product_B)
condC = customers["customer_id"].isin(product_C)

In [42]:
result = customers[condA & condB & ~condC].sort_values(by="customer_id")

In [43]:
result[["customer_id", "customer_name"]]

   customer_id customer_name
2            3     Elizabeth