# 1440. Evaluate Boolean Expression
[問題](https://leetcode.com/problems/evaluate-boolean-expression/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

In [1]:
import pandas as pd

In [2]:
data = [['x', 66], ['y', 77]]
variables = pd.DataFrame(data, columns=['name', 'value']).astype({'name':'object', 'value':'Int64'})
data = [['x', '>', 'y'], ['x', '<', 'y'], ['x', '=', 'y'], ['y', '>', 'x'], ['y', '<', 'x'], ['x', '=', 'x']]
expressions = pd.DataFrame(data, columns=['left_operand', 'operator', 'right_operand']).astype({'left_operand':'object', 'operator':'object', 'right_operand':'object'})

In [3]:
variables

  name  value
0    x     66
1    y     77

In [4]:
expressions

  left_operand operator right_operand
0            x        >             y
1            x        <             y
2            x        =             y
3            y        >             x
4            y        <             x
5            x        =             x

In [45]:
def compare(x: int, y: int, operator: str) -> str:
    answer: bool = False
    match operator:
        case "=":
            answer = x == y
        case ">":
            answer = x > y
        case "<":
            answer = x < y
    
    return str(answer).lower()

In [48]:
def eval_expression(variables: pd.DataFrame, expressions: pd.DataFrame) -> pd.DataFrame:
    merged = expressions.merge(variables, left_on="left_operand", right_on="name", how="inner").merge(variables, left_on="right_operand", right_on="name", how="inner")
    result = list(map(compare, merged["value_x"], merged["value_y"], merged["operator"]))
    merged["value"] = result
    return merged[["left_operand", "operator", "right_operand", "value"]]

In [49]:
eval_expression(variables, expressions)

  left_operand operator right_operand  value
0            x        >             y  false
1            x        <             y   true
2            x        =             y  false
3            y        >             x   true
4            y        <             x  false
5            x        =             x   true

## Test scripts

In [27]:
def compare(x: int, y: int, operator: str) -> str:
    answer: bool = False
    match operator:
        case "=":
            answer = x == y
        case ">":
            answer = x > y
        case "<":
            answer = x < y
    return str(answer).lower()

In [28]:
compare(10, 20, "=")

'false'

In [37]:
merged = expressions.merge(variables, left_on="left_operand", right_on="name", how="inner")

In [38]:
merged

  left_operand operator right_operand name  value
0            x        >             y    x     66
1            x        <             y    x     66
2            x        =             y    x     66
3            y        >             x    y     77
4            y        <             x    y     77
5            x        =             x    x     66

In [39]:
re_merged = merged.merge(variables, left_on="right_operand", right_on="name", how="inner")

In [40]:
re_merged

  left_operand operator right_operand name_x  value_x name_y  value_y
0            x        >             y      x       66      y       77
1            x        <             y      x       66      y       77
2            x        =             y      x       66      y       77
3            y        >             x      y       77      x       66
4            y        <             x      y       77      x       66
5            x        =             x      x       66      x       66

In [41]:
result = list(map(compare, re_merged["value_x"], re_merged["value_y"], re_merged["operator"]))

In [42]:
re_merged["value"] = result

In [44]:
re_merged[["left_operand", "operator", "right_operand", "value"]]

  left_operand operator right_operand  value
0            x        >             y  false
1            x        <             y   true
2            x        =             y  false
3            y        >             x   true
4            y        <             x  false
5            x        =             x   true