# 1445. Apples & Oranges
[問題](https://leetcode.com/problems/apples-oranges/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

In [1]:
import pandas as pd

In [2]:
data = [['2020-05-01', 'apples', 10], ['2020-05-01', 'oranges', 8], ['2020-05-02', 'apples', 15], ['2020-05-02', 'oranges', 15], ['2020-05-03', 'apples', 20], ['2020-05-03', 'oranges', 0], ['2020-05-04', 'apples', 15], ['2020-05-04', 'oranges', 16]]
sales = pd.DataFrame(data, columns=['sale_date', 'fruit', 'sold_num']).astype({'sale_date':'datetime64[ns]', 'fruit':'object', 'sold_num':'Int64'})

In [3]:
sales

   sale_date    fruit  sold_num
0 2020-05-01   apples        10
1 2020-05-01  oranges         8
2 2020-05-02   apples        15
3 2020-05-02  oranges        15
4 2020-05-03   apples        20
5 2020-05-03  oranges         0
6 2020-05-04   apples        15
7 2020-05-04  oranges        16

In [37]:
def apples_oranges(sales: pd.DataFrame) -> pd.DataFrame:
    pivo = sales.pivot(index="sale_date", columns="fruit", values="sold_num").reset_index()
    pivo["diff"] = (pivo["apples"] - pivo["oranges"])
    return pivo[["sale_date", "diff"]].sort_values(by="sale_date", ascending=True)

In [38]:
apples_oranges(sales)

fruit  sale_date  diff
0     2020-05-01     2
1     2020-05-02     0
2     2020-05-03    20
3     2020-05-04    -1

## Test scripts

In [28]:
pivo = sales.pivot(index="sale_date", columns="fruit", values="sold_num").reset_index()

In [29]:
pivo

fruit  sale_date  apples  oranges
0     2020-05-01      10        8
1     2020-05-02      15       15
2     2020-05-03      20        0
3     2020-05-04      15       16

In [31]:
pivo["diff"] = abs(pivo["apples"] - pivo["oranges"])

In [32]:
pivo

fruit  sale_date  apples  oranges  diff
0     2020-05-01      10        8     2
1     2020-05-02      15       15     0
2     2020-05-03      20        0    20
3     2020-05-04      15       16     1

In [34]:
pivo[["sale_date", "diff"]].sort_values(by="sale_date", ascending=True)

fruit  sale_date  diff
0     2020-05-01     2
1     2020-05-02     0
2     2020-05-03    20
3     2020-05-04     1