# 1484. Group Sold Products By The Date
[問題](https://leetcode.com/problems/group-sold-products-by-the-date/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 解答の方針
agg()で整形する。

In [1]:
import pandas as pd

In [63]:
def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    groups = activities.groupby("sell_date")
    stats = groups.agg(
        num_sold=("product", "nunique"),
        products=("product", lambda x: ",".join(sorted(set(x))))
    ).reset_index()
    return stats

In [64]:
activities = """
| sell_date  | product    |
| 2020-05-30 | Headphone  |
| 2020-06-01 | Pencil     |
| 2020-06-02 | Mask       |
| 2020-05-30 | Basketball |
| 2020-06-01 | Bible      |
| 2020-06-02 | Mask       |
| 2020-05-30 | T-Shirt    |
"""

In [65]:
activities = activities.replace(" ", "")
with open("data.txt", "w") as f:
    f.write(activities)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [66]:
df

    sell_date     product
0  2020-05-30   Headphone
1  2020-06-01      Pencil
2  2020-06-02        Mask
3  2020-05-30  Basketball
4  2020-06-01       Bible
5  2020-06-02        Mask
6  2020-05-30     T-Shirt