# 1495. Friendly Movies Streamed Last Month
[問題](https://leetcode.com/problems/friendly-movies-streamed-last-month/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
mergeして、monthでグルーピングする。

In [1]:
import pandas as pd

In [33]:
data = [['2020-06-10 08:00', 1, 'LC-Channel'], ['2020-05-11 12:00', 2, 'LC-Channel'], ['2020-05-12 12:00', 3, 'LC-Channel'], ['2020-05-13 14:00', 4, 'Disney Ch'], ['2020-06-18 14:00', 4, 'Disney Ch'], ['2020-07-15 16:00', 5, 'Disney Ch']]
tv_program = pd.DataFrame(data, columns=['program_date', 'content_id', 'channel']).astype({'program_date':'datetime64[ns]', 'content_id':'Int64', 'channel':'object'})
data = [[1, 'Leetcode Movie', 'N', 'Movies'], [2, 'Alg. for Kids', 'Y', 'Series'], [3, 'Database Sols', 'N', 'Series'], [4, 'Aladdin', 'Y', 'Movies'], [5, 'Cinderella', 'Y', 'Movies']]
content = pd.DataFrame(data, columns=['content_id', 'title', 'Kids_content', 'content_type']).astype({'content_id':'object', 'title':'object', 'Kids_content':'object', 'content_type':'object'})

In [34]:
tv_program

         program_date  content_id     channel
0 2020-06-10 08:00:00           1  LC-Channel
1 2020-05-11 12:00:00           2  LC-Channel
2 2020-05-12 12:00:00           3  LC-Channel
3 2020-05-13 14:00:00           4   Disney Ch
4 2020-06-18 14:00:00           4   Disney Ch
5 2020-07-15 16:00:00           5   Disney Ch

In [35]:
content

  content_id           title Kids_content content_type
0          1  Leetcode Movie            N       Movies
1          2   Alg. for Kids            Y       Series
2          3   Database Sols            N       Series
3          4         Aladdin            Y       Movies
4          5      Cinderella            Y       Movies

In [40]:
def friendly_movies(tv_program: pd.DataFrame, content: pd.DataFrame) -> pd.DataFrame:
    content["content_id"] = content["content_id"].astype(int)
    merged = tv_program.merge(content, on="content_id", how="inner")
    merged = merged[(merged["program_date"].dt.year == 2020) & (merged["program_date"].dt.month == 6)]
    result = merged[(merged["Kids_content"] == 'Y') & (merged["content_type"] == "Movies")]
    result = result.drop_duplicates(subset="content_id")
    return result[["title"]]

In [41]:
friendly_movies(tv_program, content)

     title
4  Aladdin

## Test scripts

In [21]:
merged = tv_program.merge(content, on="content_id", how="inner")

In [22]:
merged

,program_date,content_id,channel,title,Kids_content,content_type
0,2020-06-10 08:00:00,1,LC-Channel,Leetcode Movie,N,Movies
1,2020-05-11 12:00:00,2,LC-Channel,Alg. for Kids,Y,Series
2,2020-05-12 12:00:00,3,LC-Channel,Database Sols,N,Series
3,2020-05-13 14:00:00,4,Disney Ch,Aladdin,Y,Movies
4,2020-06-18 14:00:00,4,Disney Ch,Aladdin,Y,Movies
5,2020-07-15 16:00:00,5,Disney Ch,Cinderella,Y,Movies

In [25]:
merged = merged[(merged["program_date"].dt.year == 2020) & (merged["program_date"].dt.month == 6)]

In [26]:
merged

,program_date,content_id,channel,title,Kids_content,content_type
0,2020-06-10 08:00:00,1,LC-Channel,Leetcode Movie,N,Movies
4,2020-06-18 14:00:00,4,Disney Ch,Aladdin,Y,Movies

In [27]:
result = merged[merged["Kids_content"] == "Y"]

In [28]:
result

         program_date content_id    channel    title Kids_content content_type
4 2020-06-18 14:00:00          4  Disney Ch  Aladdin            Y       Movies

In [30]:
result = result.drop_duplicates(subset="content_id")

In [31]:
result[["title"]]

     title
4  Aladdin