# 1517. Find Users With Valid E-Mails
[問題](https://leetcode.com/problems/find-users-with-valid-e-mails/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [4]:
import pandas as pd

In [13]:
users = """
| user_id | name      | mail                    |
| 1       | Winston   | winston@leetcode.com    |
| 2       | Jonathan  | jonathanisgreat         |
| 3       | Annabelle | bella-@leetcode.com     |
| 4       | Sally     | sally.come@leetcode.com |
| 5       | Marwan    | quarz#2020@leetcode.com |
| 6       | David     | david69@gmail.com       |
| 7       | Shapiro   | .shapo@leetcode.com     |
"""

In [14]:
with open("data.txt", "w") as f:
    f.write(users)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)

In [15]:
df.columns = ["user_id", "name", "mail"]

In [16]:
df["mail"] = df["mail"].str.strip()

In [17]:
pattern = r"^[a-zA-Z][a-zA-Z0-9_.-]*\@leetcode\.com$"

In [18]:
df

   user_id         name                     mail
0        1   Winston        winston@leetcode.com
1        2   Jonathan            jonathanisgreat
2        3   Annabelle       bella-@leetcode.com
3        4   Sally       sally.come@leetcode.com
4        5   Marwan      quarz#2020@leetcode.com
5        6   David             david69@gmail.com
6        7   Shapiro         .shapo@leetcode.com

In [19]:
df = df[df["mail"].str.match(pattern)]

In [20]:
df

   user_id         name                     mail
0        1   Winston        winston@leetcode.com
2        3   Annabelle       bella-@leetcode.com
3        4   Sally       sally.come@leetcode.com