# 1527. Patients With a Condition
[問題](https://leetcode.com/problems/patients-with-a-condition/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [53]:
import pandas as pd

In [54]:
patients = """
| patient_id | patient_name | conditions   |
| 1          | Daniel       | YFEV COUGH   |
| 2          | Alice        |              |
| 3          | Bob          | DIAB100 MYOP |
| 4          | George       | ACNE DIAB100 |
| 5          | Alain        | DIAB201      |
"""

In [55]:
with open("data.txt", "w") as f:
    f.write(patients)

df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)
df.columns = [x.strip() for x in df.columns ]

In [56]:
df

   patient_id    patient_name      conditions
0           1   Daniel          YFEV COUGH
1           2   Alice
2           3   Bob             DIAB100 MYOP
3           4   George          ACNE DIAB100
4           5   Alain           DIAB201

In [57]:
df["conditions"]

0     YFEV COUGH
1
2     DIAB100 MYOP
3     ACNE DIAB100
4     DIAB201
Name: conditions, dtype: object

In [58]:
pattern = r'\bDIAB1'
df = df[df["conditions"].str.contains(pattern, regex=True)]

In [59]:
df

   patient_id    patient_name      conditions
2           3   Bob             DIAB100 MYOP
3           4   George          ACNE DIAB100