# 1549. The Most Recent Orders for Each Product
[問題](https://leetcode.com/problems/the-most-recent-orders-for-each-product/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

In [1]:
import pandas as pd

In [2]:
data = [[1, 'Winston'], [2, 'Jonathan'], [3, 'Annabelle'], [4, 'Marwan'], [5, 'Khaled']]
customers = pd.DataFrame(data, columns=['customer_id', 'name']).astype({'customer_id':'Int64', 'name':'object'})
data = [[1, '2020-07-31', 1, 1], [2, '2020-7-30', 2, 2], [3, '2020-08-29', 3, 3], [4, '2020-07-29', 4, 1], [5, '2020-06-10', 1, 2], [6, '2020-08-01', 2, 1], [7, '2020-08-01', 3, 1], [8, '2020-08-03', 1, 2], [9, '2020-08-07', 2, 3], [10, '2020-07-15', 1, 2]]
orders = pd.DataFrame(data, columns=['order_id', 'order_date', 'customer_id', 'product_id']).astype({'order_id':'Int64', 'order_date':'datetime64[ns]', 'customer_id':'Int64', 'product_id':'Int64'})
data = [[1, 'keyboard', 120], [2, 'mouse', 80], [3, 'screen', 600], [4, 'hard disk', 450]]
products = pd.DataFrame(data, columns=['product_id', 'product_name', 'price']).astype({'product_id':'Int64', 'product_name':'object', 'price':'Int64'})

In [3]:
customers

   customer_id       name
0            1    Winston
1            2   Jonathan
2            3  Annabelle
3            4     Marwan
4            5     Khaled

In [4]:
orders

   order_id order_date  customer_id  product_id
0         1 2020-07-31            1           1
1         2 2020-07-30            2           2
2         3 2020-08-29            3           3
3         4 2020-07-29            4           1
4         5 2020-06-10            1           2
5         6 2020-08-01            2           1
6         7 2020-08-01            3           1
7         8 2020-08-03            1           2
8         9 2020-08-07            2           3
9        10 2020-07-15            1           2

In [5]:
products

   product_id product_name  price
0           1     keyboard    120
1           2        mouse     80
2           3       screen    600
3           4    hard disk    450

In [28]:
def most_recent_orders(customers: pd.DataFrame, orders: pd.DataFrame, products: pd.DataFrame) -> pd.DataFrame:
    grouped = orders.groupby("product_id")["order_date"].max().reset_index()
    merged = pd.merge(orders, grouped, on=["product_id", "order_date"])
    merged = merged.merge(products, on="product_id")
    result = merged[["product_name", "product_id", "order_id", "order_date"]]
    result = result.sort_values(by=["product_name", "product_id", "order_id"])
    return result

In [29]:
most_recent_orders(customers, orders, products)

  product_name  product_id  order_id order_date
1     keyboard           1         6 2020-08-01
2     keyboard           1         7 2020-08-01
3        mouse           2         8 2020-08-03
0       screen           3         3 2020-08-29

## Test scripts

In [18]:
grouped = orders.groupby("product_id")["order_date"].max().reset_index()

In [19]:
grouped

   product_id order_date
0           1 2020-08-01
1           2 2020-08-03
2           3 2020-08-29

In [20]:
merged = pd.merge(orders, grouped, on=["product_id", "order_date"])

In [21]:
merged

   order_id order_date  customer_id  product_id
0         3 2020-08-29            3           3
1         6 2020-08-01            2           1
2         7 2020-08-01            3           1
3         8 2020-08-03            1           2

In [22]:
merged = merged.merge(products, on="product_id")

In [23]:
merged

   order_id order_date  customer_id  product_id product_name  price
0         3 2020-08-29            3           3       screen    600
1         6 2020-08-01            2           1     keyboard    120
2         7 2020-08-01            3           1     keyboard    120
3         8 2020-08-03            1           2        mouse     80

In [24]:
result = merged[["product_name", "product_id", "order_id", "order_date"]]

In [26]:
result = result.sort_values(by=["product_name", "product_id", "order_id"])

In [27]:
result

  product_name  product_id  order_id order_date
1     keyboard           1         6 2020-08-01
2     keyboard           1         7 2020-08-01
3        mouse           2         8 2020-08-03
0       screen           3         3 2020-08-29