# 1607. Sellers With No Sales
[問題](https://leetcode.com/problems/sellers-with-no-sales/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
ordersから2020年にフィルタリングする。  
seller.isin()で取り出す。

In [1]:
import pandas as pd

In [2]:
data = [[101, 'Alice'], [102, 'Bob'], [103, 'Charlie']]
customer = pd.DataFrame(data, columns=['customer_id', 'customer_name']).astype({'customer_id':'Int64', 'customer_name':'object'})
data = [[1, '2020-03-01', 1500, 101, 1], [2, '2020-05-25', 2400, 102, 2], [3, '2019-05-25', 800, 101, 3], [4, '2020-09-13', 1000, 103, 2], [5, '2019-02-11', 700, 101, 2]]
orders = pd.DataFrame(data, columns=['order_id', 'sale_date', 'order_cost', 'customer_id', 'seller_id']).astype({'order_id':'Int64', 'sale_date':'datetime64[ns]', 'order_cost':'Int64', 'customer_id':'Int64', 'seller_id':'Int64'})
data = [[1, 'Daniel'], [2, 'Elizabeth'], [3, 'Frank']]
seller = pd.DataFrame(data, columns=['seller_id', 'seller_name']).astype({'seller_id':'Int64', 'seller_name':'object'})

In [3]:
customer

   customer_id customer_name
0          101         Alice
1          102           Bob
2          103       Charlie

In [4]:
orders

   order_id  sale_date  order_cost  customer_id  seller_id
0         1 2020-03-01        1500          101          1
1         2 2020-05-25        2400          102          2
2         3 2019-05-25         800          101          3
3         4 2020-09-13        1000          103          2
4         5 2019-02-11         700          101          2

In [5]:
seller

   seller_id seller_name
0          1      Daniel
1          2   Elizabeth
2          3       Frank

In [25]:
def sellers_with_no_sales(customer: pd.DataFrame, orders: pd.DataFrame, seller: pd.DataFrame) -> pd.DataFrame:
    selected = orders[(orders["sale_date"] >= '2020-01-01') & (orders["sale_date"] < '2021-01-01')]["seller_id"]
    result = seller[~seller["seller_id"].isin(selected)]
    result = result.sort_values(by="seller_name", ascending=True)
    return result[["seller_name"]]

In [26]:
sellers_with_no_sales(customer, orders, seller)

  seller_name
2       Frank

## Test scripts

In [12]:
selected = orders[(orders["sale_date"] >= '2020-01-01') & (orders["sale_date"] < '2021-01-01')]["seller_id"]

In [11]:
selected

0    1
1    2
3    2
Name: seller_id, dtype: Int64

In [15]:
result = seller[~seller["seller_id"].isin(selected)]

In [18]:
result[["seller_name"]]

  seller_name
2       Frank