# 1667. Fix Names in a Table
[問題](https://leetcode.com/problems/fix-names-in-a-table/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [22]:
users = """
|user_id|name|
|1       |aLice|
|2       |bOB|
"""

In [23]:
with open("data.txt", "w") as f:
    f.write(users)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)

In [24]:
columns = []
for d in df.columns:
    columns.append(d.strip())
df.columns = columns

In [25]:
def fix_name(users: pd.DataFrame) -> pd.DataFrame:
    users["name"] = users["name"].str.capitalize()
    return users.sort_values(by="user_id")

In [26]:
fix_name(df)

   user_id   name
0        1  Alice
1        2    Bob