# 1683. Invalid Tweets
[問題](https://leetcode.com/problems/invalid-tweets/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [50]:
import pandas as pd

In [51]:
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets = tweets.where(tweets["content"].str.len() > 15).dropna()
    return pd.DataFrame(tweets, columns=["tweet_id"])

In [52]:
tweets = """
| tweet_id | content                           |
| 1        | Let us Code                       |
| 2        | More than fifteen chars are here! |
"""

In [53]:
with open("data.txt", "w") as f:
    f.write(tweets)

In [54]:
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)
df.columns= ["tweet_id", "content"]

In [55]:
df

   tweet_id                              content
0         1   Let us Code
1         2   More than fifteen chars are here!

In [56]:
invalid_tweets(df)

   tweet_id
0         1
1         2