# 1693. Daily Leads and Partners
[問題](https://leetcode.com/problems/daily-leads-and-partners/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 解答の方針
date_idとmake_nameでグルーピングして、lead_idとparter_idをそれぞれcountする。

In [17]:
import pandas as pd

In [32]:
def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    group = daily_sales.groupby(["date_id", "make_name"])
    group = group[["lead_id", "partner_id"]].nunique().reset_index()
    group = group.rename({"lead_id": "unique_leads", "partner_id": "unique_partners"}, axis=1)
    return group

In [33]:
daily_sales = """
| date_id   | make_name | lead_id | partner_id |
| 2020-12-8 | toyota    | 0       | 1          |
| 2020-12-8 | toyota    | 1       | 0          |
| 2020-12-8 | toyota    | 1       | 2          |
| 2020-12-7 | toyota    | 0       | 2          |
| 2020-12-7 | toyota    | 0       | 1          |
| 2020-12-8 | honda     | 1       | 2          |
| 2020-12-8 | honda     | 2       | 1          |
| 2020-12-7 | honda     | 0       | 1          |
| 2020-12-7 | honda     | 1       | 2          |
| 2020-12-7 | honda     | 2       | 1          |
"""

In [34]:
daily_sales = daily_sales.replace(" ", "")
with open("data.txt", "w") as f:
    f.write(daily_sales)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [35]:
df

     date_id make_name  lead_id  partner_id
0  2020-12-8    toyota        0           1
1  2020-12-8    toyota        1           0
2  2020-12-8    toyota        1           2
3  2020-12-7    toyota        0           2
4  2020-12-7    toyota        0           1
5  2020-12-8     honda        1           2
6  2020-12-8     honda        2           1
7  2020-12-7     honda        0           1
8  2020-12-7     honda        1           2
9  2020-12-7     honda        2           1

In [10]:
groups = df.groupby(["date_id", "make_name"])

In [25]:
groups = groups[["lead_id", "partner_id"]].nunique().reset_index()

In [37]:
groups.rename({"lead_id": "unique_leads", "partner_id":"unique_partners"}, axis=1, inplace=True)

In [38]:
groups

     date_id make_name  unique_leads  unique_partners
0  2020-12-7     honda             3                2
1  2020-12-7    toyota             1                2
2  2020-12-8     honda             2                2
3  2020-12-8    toyota             2                3

In [36]:
daily_leads_and_partners(df)

     date_id make_name  unique_leads  unique_partners
0  2020-12-7     honda             3                2
1  2020-12-7    toyota             1                2
2  2020-12-8     honda             2                2
3  2020-12-8    toyota             2                3