# 1709. Biggest Window Between Visits
[問題](https://leetcode.com/problems/biggest-window-between-visits/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
shift()を使って、next_visitの列を追加する。

In [1]:
import pandas as pd

In [72]:
data = [['1', '2020-11-28'], ['1', '2020-10-20'], ['1', '2020-12-3'], ['2', '2020-10-5'], ['2', '2020-12-9'], ['3', '2020-11-11']]
user_visits = pd.DataFrame(data, columns=['user_id', 'visit_date']).astype({'user_id':'Int64', 'visit_date':'datetime64[ns]'})

In [73]:
user_visits

   user_id visit_date
0        1 2020-11-28
1        1 2020-10-20
2        1 2020-12-03
3        2 2020-10-05
4        2 2020-12-09
5        3 2020-11-11

In [74]:
def biggest_window(user_visits: pd.DataFrame) -> pd.DataFrame:
    user_visits = user_visits.sort_values(["user_id", "visit_date"])
    user_visits["next_visit"] = user_visits.groupby("user_id").shift(periods=-1, fill_value='2021-01-01')
    user_visits["length"] = (user_visits.next_visit - user_visits.visit_date).dt.days
    result = user_visits.groupby("user_id")[["user_id", "length"]].apply(lambda x: x.length.max()).reset_index(name="biggest_window")
    return result

In [75]:
biggest_window(user_visits)

   user_id  biggest_window
0        1              39
1        2              65
2        3              51

## Test scripts

In [47]:
user_visits = user_visits.sort_values(["user_id", "visit_date"])

In [48]:
user_visits["next_visit"] = user_visits.groupby("user_id").shift(periods=-1, fill_value='2021-01-01')

In [49]:
user_visits

   user_id visit_date next_visit
1        1 2020-10-20 2020-11-28
0        1 2020-11-28 2020-12-03
2        1 2020-12-03 2021-01-01
3        2 2020-10-05 2020-12-09
4        2 2020-12-09 2021-01-01
5        3 2020-11-11 2021-01-01

In [53]:
user_visits["length"] = (user_visits.next_visit - user_visits.visit_date).dt.days

In [54]:
user_visits

   user_id visit_date next_visit  length
1        1 2020-10-20 2020-11-28      39
0        1 2020-11-28 2020-12-03       5
2        1 2020-12-03 2021-01-01      29
3        2 2020-10-05 2020-12-09      65
4        2 2020-12-09 2021-01-01      23
5        3 2020-11-11 2021-01-01      51

In [65]:
result = user_visits.groupby("user_id")[["user_id", "length"]].apply(lambda x: x.length.max()).reset_index(name="biggest_window")

In [66]:
result

   user_id  biggest_window
0        1              39
1        2              65
2        3              51