# 176. Second Highest Salary
[問題](https://leetcode.com/problems/second-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [20]:
employee = """
| id | salary |
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
| 4  | 300    |
| 5  | 300    |
| 6  | 400    |
"""

In [21]:
with open("data.txt", "w") as f:
    f.write(employee)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)
df.columns = [x.strip() for x in df.columns]

In [22]:
df

   id  salary
0   1     100
1   2     200
2   3     300
3   4     300
4   5     300
5   6     400

In [23]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    # 重複を削除
    dist = employee.drop_duplicates(subset="salary")
    # ランク付けする
    dist["rnk"] = dist["salary"].rank(method="dense", ascending=False)
    # 2番目の値を取り出す
    ans = dist[dist.rnk == 2][["salary"]]
    if not len(ans):
        return pd.DataFrame({"SecondHighestSalary": [None]})
    ans = ans.rename(columns={"salary": "SecondHighestSalary"})
    return ans

In [24]:
second_highest_salary(df)

C:\Users\takuya kinoshita\AppData\Local\Temp\ipykernel_4476\3549635945.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dist["rnk"] = dist["salary"].rank(method="dense", ascending=False)

   SecondHighestSalary
2                  300