# 1767. Find the Subtasks That Did Not Execute
[問題](https://leetcode.com/problems/find-the-subtasks-that-did-not-execute/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

sabtasks_countの連番のテーブルを作成する。  
outer joinでexecutedをマージして、重複するレコードを削除する。

In [1]:
import pandas as pd

In [2]:
data = [[1, 3], [2, 2], [3, 4]]
tasks = pd.DataFrame(data, columns=['task_id', 'subtasks_count']).astype({'task_id':'Int64', 'subtasks_count':'Int64'})
data = [[1, 2], [3, 1], [3, 2], [3, 3], [3, 4]]
executed = pd.DataFrame(data, columns=['task_id', 'subtask_id']).astype({'task_id':'Int64', 'subtask_id':'Int64'})

In [3]:
tasks

   task_id  subtasks_count
0        1               3
1        2               2
2        3               4

In [15]:
executed

   task_id  subtask_id
0        1           2
1        3           1
2        3           2
3        3           3
4        3           4

In [40]:
def find_subtasks(tasks: pd.DataFrame, executed: pd.DataFrame) -> pd.DataFrame:
    subtasks = []
    for _, row in tasks.iterrows():
        for subtask_id in range(1, row["subtasks_count"] + 1):
            subtasks.append({"task_id": row["task_id"], "subtask_id": subtask_id})
    df = pd.DataFrame(subtasks)
    merged = df.merge(executed, how="outer", on=["task_id", "subtask_id"], indicator=True)
    merged = merged[merged["_merge"] == "left_only"]
    return merged[["task_id", "subtask_id"]]

In [41]:
find_subtasks(tasks, executed)

   task_id  subtask_id
0        1           1
2        1           3
3        2           1
4        2           2

## Test scripts

In [9]:
subtasks = []

for _, row in tasks.iterrows():
    for subtask_id in range(1, row["subtasks_count"] + 1):
        subtasks.append({"task_id": row["task_id"], "subtask_id": subtask_id})

subtasks

[{'task_id': 1, 'subtask_id': 1},
 {'task_id': 1, 'subtask_id': 2},
 {'task_id': 1, 'subtask_id': 3},
 {'task_id': 2, 'subtask_id': 1},
 {'task_id': 2, 'subtask_id': 2},
 {'task_id': 3, 'subtask_id': 1},
 {'task_id': 3, 'subtask_id': 2},
 {'task_id': 3, 'subtask_id': 3},
 {'task_id': 3, 'subtask_id': 4}]

In [10]:
df = pd.DataFrame(subtasks)

In [25]:
df

   task_id  subtask_id
0        1           1
1        1           2
2        1           3
3        2           1
4        2           2
5        3           1
6        3           2
7        3           3
8        3           4

In [33]:
merged = df.merge(executed, how="outer", on=["task_id", "subtask_id"], indicator=True)

In [35]:
merged = merged[merged["_merge"] == "left_only"]

In [36]:
merged

   task_id  subtask_id     _merge
0        1           1  left_only
2        1           3  left_only
3        2           1  left_only
4        2           2  left_only

In [37]:
merged[["task_id", "subtask_id"]]

   task_id  subtask_id
0        1           1
2        1           3
3        2           1
4        2           2