# 177. Nth Highest Salary
[問題](https://leetcode.com/problems/nth-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 回答の方針
n番目に高い給料なので、
sortして、インデックス指定で取り出す。
しかしこの場合、同じ値が複数あった場合、ずれが生じるので、重複の削除が必要。

In [1]:
import pandas as pd

In [37]:
employee = """
| id | salary |
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |
| 4  | 300    |
"""

In [41]:
with open("data.txt", "w") as f:
    f.write(employee)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)
df.columns = [x.strip() for x in df.columns]

In [42]:
df

   id  salary
0   1     100
1   2     200
2   3     300
3   4     300

## 実装

In [32]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    employee.drop_duplicates(subset="salary", inplace=True)
    employee.sort_values(by="salary", inplace=True, ascending=False, ignore_index=True)
    print(employee)
    target_value = employee.iloc[N-1]["salary"]
    print(target_value)
    data = {f"getNthHighestSalary({N})": [target_value]}
    output = pd.DataFrame(data)
    return output

In [33]:
nth_highest_salary(df, 2)

   id  salary
0   4     300
1   2     200
2   1     100
200

   getNthHighestSalary(2)
0                     200

## 模範解答

In [43]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    dist = employee.drop_duplicates(subset="salary")
    dist["rnk"] = dist["salary"].rank(method="dense", ascending=False)
    ans = dist[dist.rnk == N][["salary"]]
    if not len(ans):
        return pd.DataFrame({f"getNthHighestSalary": [None]})
    ans = ans.rename(columns={"salary": f"getNthHighestSalary({N})"})
    return ans

In [44]:
nth_highest_salary(df, 1)

C:\Users\takuya kinoshita\AppData\Local\Temp\ipykernel_6384\1299337200.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dist["rnk"] = dist["salary"].rank(method="dense", ascending=False)

   getNthHighestSalary(1)
2                     300