# 178. Rank Scores
[問題](https://leetcode.com/problems/rank-scores/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 回答の方針
rankの列を追加するだけ。

In [31]:
import pandas as pd

In [32]:
scores = """
| id | score |
| 1  | 3.5   |
| 2  | 3.65  |
| 3  | 4     |
| 4  | 3.85  |
| 5  | 4     |
| 6  | 3.65  |
"""

In [33]:
with open("data.txt", "w") as f:
    f.write(scores)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)
df.columns = [x.strip() for x in df.columns]

In [34]:
def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores["rank"] = scores["score"].rank(method="dense", ascending=False)
    scores = scores.sort_values(by="rank", ascending=True)
    return scores[["score", "rank"]]

In [35]:
order_scores(df)

   score  rank
2   4.00   1.0
4   4.00   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0   3.50   4.0