# 1783. Grand Slam Titles
[問題](https://leetcode.com/problems/grand-slam-titles/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
championshipsテーブルから各プレイヤーの合計値を出す。

In [2]:
import pandas as pd

In [3]:
data = [[1, 'Nadal'], [2, 'Federer'], [3, 'Novak']]
players = pd.DataFrame(data, columns=['player_id', 'player_name']).astype({'player_id':'Int64', 'player_name':'object'})
data = [[2018, 1, 1, 1, 1], [2019, 1, 1, 2, 2], [2020, 2, 1, 2, 2]]
championships = pd.DataFrame(data, columns=['year', 'Wimbledon', 'Fr_open', 'US_open', 'Au_open']).astype({'year':'Int64', 'Wimbledon':'Int64', 'Fr_open':'Int64', 'US_open':'Int64', 'Au_open':'Int64'})

In [4]:
players

   player_id player_name
0          1       Nadal
1          2     Federer
2          3       Novak

In [5]:
championships

   year  Wimbledon  Fr_open  US_open  Au_open
0  2018          1        1        1        1
1  2019          1        1        2        2
2  2020          2        1        2        2

In [48]:
def grand_slam_titles(players: pd.DataFrame, championships: pd.DataFrame) -> pd.DataFrame:
    count = pd.melt(championships, id_vars="year")
    count = count.merge(players, left_on="value", right_on="player_id", how="inner")
    grouped = count.groupby(["player_id", "player_name"]).size().reset_index(name="grand_slams_count")
    return grouped

In [49]:
grand_slam_titles(players, championships)

   player_id player_name  grand_slams_count
0          1       Nadal                  7
1          2     Federer                  5

## Test scripts

In [10]:
count = pd.melt(championships, id_vars="year")

In [13]:
count = count.merge(players, left_on="value", right_on="player_id", how="inner")

In [41]:
count

    year   variable  value  player_id player_name
0   2018  Wimbledon      1          1       Nadal
1   2019  Wimbledon      1          1       Nadal
2   2020  Wimbledon      2          2     Federer
3   2018    Fr_open      1          1       Nadal
4   2019    Fr_open      1          1       Nadal
5   2020    Fr_open      1          1       Nadal
6   2018    US_open      1          1       Nadal
7   2019    US_open      2          2     Federer
8   2020    US_open      2          2     Federer
9   2018    Au_open      1          1       Nadal
10  2019    Au_open      2          2     Federer
11  2020    Au_open      2          2     Federer

In [46]:
grouped = count.groupby(["player_id", "player_name"]).size().reset_index(name="grand_slams_count")

In [47]:
grouped

   player_id player_name  grand_slams_count
0          1       Nadal                  7
1          2     Federer                  5