# 182. Duplicate Emails
[問題](https://leetcode.com/problems/duplicate-emails/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
duplicated()を使う。

In [1]:
import pandas as pd

In [2]:
data = [[1, 'a@b.com'], [2, 'c@d.com'], [3, 'a@b.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'Int64', 'email':'object'})

In [4]:
person

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [20]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    result = person[person["email"].duplicated()]
    result = result.drop_duplicates(subset="email")
    return result[["email"]]

In [21]:
duplicate_emails(person)

     email
2  a@b.com

## Test scripts

In [13]:
result = person[person["email"].duplicated()]

In [15]:
result[["email"]]

     email
2  a@b.com