# 1821. Find Customers With Positive Revenue this Year
[問題](https://leetcode.com/problems/find-customers-with-positive-revenue-this-year/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

In [1]:
import pandas as pd

In [3]:
data = [['1', '2018', '50'], ['1', '2021', '30'], ['1', '2020', '70'], ['2', '2021', '-50'], ['3', '2018', '10'], ['3', '2016', '50'], ['4', '2021', '20']]
customers = pd.DataFrame(data, columns=['customer_id', 'year', 'revenue']).astype({'customer_id':'Int64', 'year':'Int64', 'revenue':'Int64'})

In [12]:
result = customers[(customers["year"] == 2021) & (customers["revenue"] > 0)]["customer_id"].reset_index()

In [13]:
result[["customer_id"]]

   customer_id
0            1
1            4