# 1831. Maximum Transaction Each Day
[問題](https://leetcode.com/problems/maximum-transaction-each-day/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
dayでグルーピングする。  

より簡潔な方法として、 `groupby().rank(method="dense")`として、rank==1を返す方法がある。

In [1]:
import pandas as pd

In [109]:
data = [[8, '2021-4-3 15:57:28', 57], [9, '2021-4-28 08:47:25', 21], [1, '2021-4-29 13:28:30', 58], [5, '2021-4-28 16:39:59', 40], [6, '2021-4-29 23:39:28', 58]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'day', 'amount']).astype({'transaction_id':'Int64', 'day':'datetime64[ns]', 'amount':'Int64'})

In [110]:
transactions

   transaction_id                 day  amount
0               8 2021-04-03 15:57:28      57
1               9 2021-04-28 08:47:25      21
2               1 2021-04-29 13:28:30      58
3               5 2021-04-28 16:39:59      40
4               6 2021-04-29 23:39:28      58

In [88]:
def maximum_transactions(transactions: pd.DataFrame) -> pd.DataFrame:
    grouped = transactions.groupby(transactions.day.dt.strftime("%Y-%m-%d")).apply(lambda x: x[x.amount == x.amount.max()])
    result = grouped["transaction_id"].reset_index()
    result = result[["transaction_id"]]
    result = result.sort_values(by="transaction_id")
    return result

In [89]:
maximum_transactions(transactions)

   transaction_id
2               1
1               5
3               6
0               8

In [111]:
def maximum_transactions2(transactions: pd.DataFrame) -> pd.DataFrame:
    transactions["ranking"] = transactions.groupby(transactions.day.dt.strftime("%Y-%m-%d"))["amount"].rank(method="dense", ascending=False)
    result = transactions[transactions["ranking"] == 1]["transaction_id"].reset_index().sort_values(by="transaction_id")
    return result[["transaction_id"]]

In [112]:
maximum_transactions2(transactions)

   transaction_id
1               1
2               5
3               6
0               8

## Test scripts

In [90]:
max_amount_per_day = transactions.groupby(transactions.day.dt.strftime("%Y-%m-%d")).apply(lambda x: x[x.amount == x.amount.max()])

In [91]:
max_amount_per_day

              transaction_id                 day  amount
day
2021-04-03 0               8 2021-04-03 15:57:28      57
2021-04-28 3               5 2021-04-28 16:39:59      40
2021-04-29 2               1 2021-04-29 13:28:30      58
           4               6 2021-04-29 23:39:28      58

In [92]:
result = max_amount_per_day[["transaction_id"]].reset_index()

In [93]:
result[["transaction_id"]].sort_values(by="transaction_id")

   transaction_id
2               1
1               5
3               6
0               8

## Test script2

In [103]:
transactions["ranking"] = transactions.groupby(transactions.day.dt.strftime("%Y-%m-%d"))["amount"].rank(method="dense", ascending=False)

In [104]:
transactions

   transaction_id                 day  amount  ranking
0               8 2021-04-03 15:57:28      57      1.0
1               9 2021-04-28 08:47:25      21      2.0
2               1 2021-04-29 13:28:30      58      1.0
3               5 2021-04-28 16:39:59      40      1.0
4               6 2021-04-29 23:39:28      58      1.0

In [105]:
result = transactions[transactions["ranking"] == 1]["transaction_id"].reset_index().sort_values(by="transaction_id")

In [107]:
result[["transaction_id"]]

   transaction_id
1               1
2               5
3               6
0               8