# 184. Department Highest Salary
[問題](https://leetcode.com/problems/department-highest-salary/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 回答の方針
department_id毎の一時テーブルを作成して、最大値をそれぞれ抜き出す。
その後、テーブルを結合する。

In [1]:
import pandas as pd

In [48]:
employee = """
| id | name  | salary | departmentId |
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
"""

In [49]:
with open("data.txt", "w") as f:
    f.write(employee)
employees = pd.read_csv("data.txt", sep="|")
employees.dropna(axis="columns", inplace=True)
employees.columns = [x.strip() for x in employees.columns]

In [50]:
department = """
| id | name  |
| 1  | IT    |
| 2  | Sales |
"""

In [51]:
with open("data.txt", "w") as f:
    f.write(department)
departments = pd.read_csv("data.txt", sep="|")
departments.dropna(axis="columns", inplace=True)
departments.columns = [x.strip() for x in departments.columns]

In [52]:
employees

   id     name  salary  departmentId
0   1   Joe      70000             1
1   2   Jim      90000             1
2   3   Henry    80000             2
3   4   Sam      60000             2
4   5   Max      90000             1

In [56]:
departments

   id     name
0   1   IT
1   2   Sales

In [59]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    df = employee.merge(department, left_on="departmentId", right_on="id", how="left")
    df = df.rename(columns={"name_x": "Employee", "name_y": "Department", "salary": "Salary"})
    max_salary = df.groupby("Department")["Salary"].transform("max")
    ans = df[df["Salary"] == max_salary]
    return ans[["Department", "Employee", "Salary"]]

In [60]:
department_highest_salary(employees, departments)

  Department Employee  Salary
1     IT       Jim      90000
2     Sales    Henry    80000
4     IT       Max      90000