# 1873. Calculate Special Bonus
[問題](https://leetcode.com/problems/calculate-special-bonus/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [2]:
employees = """
| employee_id | name    | salary |
| 2           | Meir    | 3000   |
| 3           | Michael | 3800   |
| 7           | Addilyn | 7400   |
| 8           | Juan    | 6100   |
| 9           | Kannon  | 7700   |
"""

In [3]:
with open("data.txt", "w") as f:
    f.write(employees)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)

In [5]:
df.columns = ["employee_id", "name", "salary"]

In [6]:
df

   employee_id       name  salary
0            2   Meir        3000
1            3   Michael     3800
2            7   Addilyn     7400
3            8   Juan        6100
4            9   Kannon      7700

In [7]:
def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"] = employees.apply(
        lambda x: x["salary"] if x["employee_id"] % 2 and not x["name"].startswith("M") else 0, 
        axis=1
    )
    df = employees[["employee_id", "bonus"]].sort_values("employee_id")
    return df

In [8]:
calculate_special_bonus(df)

   employee_id  bonus
0            2      0
1            3   3800
2            7   7400
3            8      0
4            9   7700

In [9]:
s = "ASC"

In [10]:
s.startswith("A")

True

In [11]:
c

NameError: name 'c' is not defined