# 1890. The Latest Login in 2020
[問題](https://leetcode.com/problems/the-latest-login-in-2020/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
2020年にログインしていないメンバーリストを取得して除外する。
グルーピングしてmaxを返す。

In [1]:
import pandas as pd

In [2]:
data = [[6, '2020-06-30 15:06:07'], [6, '2021-04-21 14:06:06'], [6, '2019-03-07 00:18:15'], [8, '2020-02-01 05:10:53'], [8, '2020-12-30 00:46:50'], [2, '2020-01-16 02:49:50'], [2, '2019-08-25 07:59:08'], [14, '2019-07-14 09:00:00'], [14, '2021-01-06 11:59:59']]
logins = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype({'user_id':'Int64', 'time_stamp':'datetime64[ns]'})

In [3]:
logins

   user_id          time_stamp
0        6 2020-06-30 15:06:07
1        6 2021-04-21 14:06:06
2        6 2019-03-07 00:18:15
3        8 2020-02-01 05:10:53
4        8 2020-12-30 00:46:50
5        2 2020-01-16 02:49:50
6        2 2019-08-25 07:59:08
7       14 2019-07-14 09:00:00
8       14 2021-01-06 11:59:59

In [32]:
def latest_login(logins: pd.DataFrame) -> pd.DataFrame:
    inspect = logins.time_stamp.dt.strftime("%Y") == "2020"
    login_members = logins[inspect]
    grouped = login_members.groupby("user_id")["time_stamp"].max().reset_index()
    grouped.rename({"time_stamp": "last_stamp"}, axis=1, inplace=True)
    return grouped

In [33]:
latest_login(logins)

   user_id          last_stamp
0        2 2020-01-16 02:49:50
1        6 2020-06-30 15:06:07
2        8 2020-12-30 00:46:50

## Test scripts

In [27]:
# 2020年にログインしたメンバー
inspect = logins.time_stamp.dt.strftime("%Y") == "2020"
login_members = logins[inspect]

In [28]:
login_members

   user_id          time_stamp
0        6 2020-06-30 15:06:07
3        8 2020-02-01 05:10:53
4        8 2020-12-30 00:46:50
5        2 2020-01-16 02:49:50

In [29]:
result = login_members.groupby("user_id")["time_stamp"].max().reset_index()

In [30]:
result.rename({"time_stamp": "last_stamp"}, axis=1, inplace=True)

In [31]:
result

   user_id          last_stamp
0        2 2020-01-16 02:49:50
1        6 2020-06-30 15:06:07
2        8 2020-12-30 00:46:50