# 1907. Count Salary Categories
[問題](https://leetcode.com/problems/count-salary-categories/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 回答の方針
whereとsetを使う  
最後にconcatで結合する

In [1]:
import pandas as pd

In [43]:
accounts = """
| account_id | income |
| 3          | 108939 |
| 2          | 12747  |
| 8          | 87709  |
| 6          | 91796  |
"""

In [44]:
with open("data.txt", "w") as f:
    f.write(accounts)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)
df.columns = [x.strip() for x in df.columns]

In [45]:
df

   account_id  income
0           3  108939
1           2   12747
2           8   87709
3           6   91796

In [25]:
low_salary = df[df["income"] < 20000]

In [39]:
average_salary = df[(df["income"] >= 20000) & (df["income"] <= 50000)]

In [32]:
high_salary = df[df["income"] > 50000]

In [40]:
data = { "category": ["Low Salary", "Average Salary", "High Salary"],
        "accounts_count": [len(low_salary), len(average_salary), len(high_salary)]}
ans = pd.DataFrame(data)

In [41]:
ans

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [48]:
def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low_salary = accounts[accounts["income"] < 20000]
    average_salary = accounts[(accounts["income"] >= 20000) & (accounts["income"] <= 50000)]
    high_salary = accounts[accounts["income"] > 50000]
    data = {"category": ["Low Salary", "Average Salary", "High Salary"],
            "accounts_count": [len(low_salary), len(average_salary), len(high_salary)]}
    ans = pd.DataFrame(data)
    return ans

In [49]:
count_salary_categories(df)

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3