# 196. Delete Duplicate Emails
[問題](https://leetcode.com/problems/delete-duplicate-emails/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [2]:
person = """
| id | email            |
| 1  | john@example.com |
| 2  | bob@example.com  |
| 3  | john@example.com |
"""

In [16]:
with open("data.txt", "w") as f:
    f.write(person)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis="columns", inplace=True)
df.columns = [x.strip() for x in df.columns]

In [17]:
df

   id               email
0   1   john@example.com
1   2   bob@example.com
2   3   john@example.com

In [22]:
def delete_duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    person.sort_values(by="id", inplace=True)
    person.drop_duplicates(subset="email", keep="first", inplace=True)
    return person

In [23]:
delete_duplicate_emails(df)

   id               email
0   1   john@example.com
1   2   bob@example.com