# 2082. The Number of Rich Customers
[問題](https://leetcode.com/problems/the-number-of-rich-customers/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [57]:
store = """
| bill_id | customer_id | amount |
| 6       | 1           | 549    |
| 8       | 1           | 834    |
| 4       | 2           | 394    |
| 11      | 3           | 657    |
| 13      | 3           | 257    |
"""

In [58]:
with open("data.txt", "w") as f:
    f.write(store)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)
df.columns = [x.strip() for x in df.columns]

In [59]:
df

   bill_id  customer_id  amount
0        6            1     549
1        8            1     834
2        4            2     394
3       11            3     657
4       13            3     257

In [60]:
def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    rich_customers = store[store["amount"] > 500]
    count = rich_customers["customer_id"].nunique()
    # または、count = len(set(rich_customers["customer_id"]))
    ans = pd.DataFrame({"rich_count": [count]})
    return ans

In [61]:
count_rich_customers(df)

   rich_count
0           2