# 2356. Number of Unique Subjects Taught by Each Teacher
[問題](https://leetcode.com/problems/number-of-unique-subjects-taught-by-each-teacher/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [2]:
teacher = """
| teacher_id | subject_id | dept_id |
| 1          | 2          | 3       |
| 1          | 2          | 4       |
| 1          | 3          | 3       |
| 2          | 1          | 1       |
| 2          | 2          | 1       |
| 2          | 3          | 1       |
| 2          | 4          | 1       |
"""

In [3]:
teacher = teacher.replace(" ", "")

In [23]:
with open("data.txt", "w") as f:
    f.write(teacher)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [24]:
def count_unique_subject(teacher: pd.DataFrame) -> pd.DataFrame:
    teacher = teacher.drop_duplicates(["teacher_id", "subject_id"]) 
    ans = pd.DataFrame()
    ans["cnt"] = teacher.groupby("teacher_id")["subject_id"].count()
    ans.reset_index(drop=False, inplace=True)
    return ans

In [25]:
count_unique_subject(df)

   teacher_id  cnt
0           1    2
1           2    4