# 2877. Create a DataFrame from List
[問題](https://leetcode.com/problems/create-a-dataframe-from-list/)

In [3]:
import pandas as pd
from typing import List

In [4]:
def createDataFrame(student_data: List[List[int]]) -> pd.DataFrame:
     df = pd.DataFrame(student_data)
     df.columns = ["student_id", "age"]
     return df

In [6]:
student_data = [
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]

In [8]:
createDataFrame(student_data)

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

In [9]:
# or
column_names = ["student_id", "age"]
df = pd.DataFrame(student_data, columns=column_names)