# 2878. Get the Size of a DataFrame
[問題](https://leetcode.com/problems/get-the-size-of-a-dataframe/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata)

In [3]:
import pandas as pd
from typing import List

In [13]:
def getDateframeSize(players: pd.DataFrame) -> List[int]:
    return [players.shape[0], players.shape[1]]

In [28]:
players  = [[846,"Mason",21,"Forward","RealMadrid"],[749,"Riley",30,"Winger","Barcelona"],[155,"Bob",28,"Striker","ManchesterUnited"],[583,"Isabella",32,"Goalkeeper","Liverpool"],[388,"Zachary",24,"Midfielder","BayernMunich"],[883,"Ava",23,"Defender","Chelsea"],[355,"Violet",18,"Striker","Juventus"],[247,"Thomas",27,"Striker","ParisSaint-Germain"],[761,"Jack",33,"Midfielder","ManchesterCity"],[642,"Charlie",36,"Center-back","Arsenal"]]
headers = ["player_id", "name", "age", "position_id", "team"]

In [29]:
df = pd.DataFrame(players, columns=headers)

In [30]:
df

   player_id      name  age  position_id                team
0        846     Mason   21      Forward          RealMadrid
1        749     Riley   30       Winger           Barcelona
2        155       Bob   28      Striker    ManchesterUnited
3        583  Isabella   32   Goalkeeper           Liverpool
4        388   Zachary   24   Midfielder        BayernMunich
5        883       Ava   23     Defender             Chelsea
6        355    Violet   18      Striker            Juventus
7        247    Thomas   27      Striker  ParisSaint-Germain
8        761      Jack   33   Midfielder      ManchesterCity
9        642   Charlie   36  Center-back             Arsenal

In [31]:
getDateframeSize(df)

[10, 5]