# 2880. Select Data
[問題](https://leetcode.com/problems/select-data/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [5]:
def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students.loc[students["student_id"] == 101, ["name", "age"]]

In [13]:
students = [[101,"Ulysses",13],[53,"William",10],[128,"Henry",6],[3,"Henry",11]]
column_name = ["student_id", "name", "age"]

In [14]:
df = pd.DataFrame(students, columns=column_name)

In [15]:
selectData(df)

      name  age
0  Ulysses   13

## テストサンプル

In [16]:
df["student_id"] == 101

0     True
1    False
2    False
3    False
Name: student_id, dtype: bool

In [23]:
df.loc[df["student_id"] == 101, ["name", "age"]]

      name  age
0  Ulysses   13