# 2881. Create a New Column
[問題](https://leetcode.com/problems/create-a-new-column/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [3]:
employees_list = [["Piper",4548],["Grace",28150],["Georgia",1103],["Willow",6593],["Finn",74576],["Thomas",24433]]

In [7]:
employees = pd.DataFrame(employees_list, columns=["name", "salary"])

In [10]:
def createBonusColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees["bonus"] = employees["salary"] * 2
    return employees

In [11]:
createBonusColumn(employees)

      name  salary   bonus
0    Piper    4548    9096
1    Grace   28150   56300
2  Georgia    1103    2206
3   Willow    6593   13186
4     Finn   74576  149152
5   Thomas   24433   48866