# 2882. Drop Duplicate Rows
[問題](https://leetcode.com/problems/drop-duplicate-rows/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [2]:
def dropDuplicateEmails(customers: pd.DataFrame) -> pd.DataFrame:
    customers.drop_duplicates(subset='email', keep='first', inplace=True)
    return customers

In [3]:
customers_data = [[1, "Ella","emily@example.com"],[2,"David","michael@example.com"],[3,"Zachary","sarah@example.com"],[4,"Alice","john@example.com"],[5,"Finn","john@example.com"],[6,"Violet","alice@example.com"]]
columns_list = ["customer_id","name","email"]

In [4]:
customers = pd.DataFrame(customers_data, columns=columns_list)

In [5]:
dropDuplicateEmails(customers)

  customer_id               name                email
0        Ella  emily@example.com                 None
1           2              David  michael@example.com
2           3            Zachary    sarah@example.com
3           4              Alice     john@example.com
5           6             Violet    alice@example.com