# 2888. Reshape Data: Concatenate
[問題](https://leetcode.com/problems/reshape-data-concatenate/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [7]:
def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    df = pd.concat([df1, df2])
    return df

In [8]:
headers = ["student_id","name","age"]
students_1 = [[1,"Mason",8],[2,"Ava",6],[3,"Taylor",15],[4,"Georgia",17]]
students_2 = [[5,"Leo",7],[6,"Alex",7]]

In [9]:
df1 = pd.DataFrame(students_1, columns=headers)
df2 = pd.DataFrame(students_2, columns=headers)

In [10]:
concatenateTables(df1, df2)

   student_id     name  age
0           1    Mason    8
1           2      Ava    6
2           3   Taylor   15
3           4  Georgia   17
0           5      Leo    7
1           6     Alex    7