# 2891. Method Chaining
[問題](https://leetcode.com/problems/method-chaining/?envType=study-plan-v2&envId=introduction-to-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [19]:
def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    animals = animals.where(animals["weight"] > 100) \
                .sort_values(by=["weight"], ascending=False) \
                .dropna(subset="weight")["name"]
    animals_df = pd.DataFrame(animals, columns=["name"])
    return animals_df

In [20]:
headers = ["name","species","age","weight"]
animals = [["Tatiana","Snake",98,464],["Khaled","Giraffe",50,41],["Alex","Leopard",6,328],["Jonathan","Monkey",45,463],["Stefan","Bear",100,50],["Tommy","Panda",26,349]]

In [21]:
df = pd.DataFrame(animals, columns=headers)

In [22]:
df

       name  species  age  weight
0   Tatiana    Snake   98     464
1    Khaled  Giraffe   50      41
2      Alex  Leopard    6     328
3  Jonathan   Monkey   45     463
4    Stefan     Bear  100      50
5     Tommy    Panda   26     349

In [23]:
findHeavyAnimals(df)

       name
0   Tatiana
3  Jonathan
5     Tommy
2      Alex