# 511. Game Play Analysis I
[問題](https://leetcode.com/problems/game-play-analysis-i/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 解答の方針
グルーピングしてからソートする。

In [3]:
import pandas as pd

In [4]:
activity = """
| player_id | device_id | event_date | games_played |
| 1         | 2         | 2016-03-01 | 5            |
| 1         | 2         | 2016-05-02 | 6            |
| 2         | 3         | 2017-06-25 | 1            |
| 3         | 1         | 2016-03-02 | 0            |
| 3         | 4         | 2018-07-03 | 5            |
"""

In [16]:
activity = activity.replace(" ", "")
with open("data.txt", "w") as f:
    f.write(activity)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [17]:
df["event_date"] = pd.to_datetime(df["event_date"])

In [18]:
df

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [20]:
df = df.groupby("player_id")["event_date"].min().reset_index()

In [21]:
df.rename({"event_date": "first_login"}, axis=1, inplace=True)

In [22]:
df

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02