# 512. Game Play Analysis II
[問題](https://leetcode.com/problems/game-play-analysis-ii/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
player_idとevent_dateでソートして、player_idでdrop_duplicates()を行う。

In [1]:
import pandas as pd

In [2]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [3]:
activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [11]:
def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    df = activity.sort_values(by=["player_id", "event_date"])
    df = df.drop_duplicates("player_id")
    return df[["player_id", "device_id"]]

In [12]:
game_analysis(activity)

   player_id  device_id
0          1          2
2          2          3
3          3          1

## Test scripts

In [6]:
sorted_activity = activity.sort_values(by=["player_id", "event_date"])

In [7]:
sorted_activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [8]:
result = sorted_activity.drop_duplicates("player_id")

In [9]:
result

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0

In [10]:
result[["player_id", "device_id"]]

   player_id  device_id
0          1          2
2          2          3
3          3          1