# 534. Game Play Analysis III
[問題](https://leetcode.com/problems/game-play-analysis-iii/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

event__dateでsortし、
player_idでグルーピングして、games_playedの累積を算出する。

In [1]:
import pandas as pd

In [2]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [1, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})

In [3]:
activity

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          1          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [26]:
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    activity = activity.sort_values(by="event_date")
    activity["games_played_so_far"] = activity.groupby("player_id")["games_played"].cumsum()
    return activity[["player_id", "event_date", "games_played_so_far"]]

In [27]:
gameplay_analysis(activity)

   player_id event_date  games_played_so_far
0          1 2016-03-01                    5
3          3 2016-03-02                    0
1          1 2016-05-02                   11
2          1 2017-06-25                   12
4          3 2018-07-03                    5

## Test scripts:w

In [28]:
activity["games_played_so_far"] = activity.groupby("player_id")["games_played"].cumsum()

In [29]:
activity = activity.sort_values(by="event_date")

In [30]:
activity

   player_id  device_id event_date  games_played  games_played_so_far
0          1          2 2016-03-01             5                    5
3          3          1 2016-03-02             0                    0
1          1          2 2016-05-02             6                   11
2          1          3 2017-06-25             1                   12
4          3          4 2018-07-03             5                    5

In [31]:
activity[["player_id", "event_date", "games_played_so_far"]]

   player_id event_date  games_played_so_far
0          1 2016-03-01                    5
3          3 2016-03-02                    0
1          1 2016-05-02                   11
2          1 2017-06-25                   12
4          3 2018-07-03                    5