# 586. Customer Placing the Largest Number of Orders
[問題](https://leetcode.com/problems/customer-placing-the-largest-number-of-orders/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

## 解答の方針
customer_numberでグルーピングする。

In [1]:
import pandas as pd

In [18]:
orders = """
| order_number | customer_number |
| 1            | 1               |
| 2            | 2               |
| 3            | 3               |
| 4            | 3               |
"""

In [19]:
orders = orders.replace(" ", "")

In [43]:
with open("data.txt", "w") as f:
    f.write(orders)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [47]:
def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    orders = orders.groupby("customer_number").count().reset_index()
    orders = orders.nlargest(1, "order_number")
    return orders[["customer_number"]]

In [48]:
largest_orders(df)

   customer_number
2                3