# 595. Big Countries
[問題](https://leetcode.com/problems/big-countries/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [1]:
import pandas as pd

In [2]:
headers = ["name", "continent",	"area",	"population", "gdp"]
countries = [["Afghanistan", "Asia", 652230, 25500100, 20343000000], ["Albania", "Europe", 28748, 2831741, 12960000000], ["Algeria", "Africa", 2381741, 37100000, 188681000000], ["Andorra", "Europe", 468, 78115,	3712000000], ["Angola", "Africa", 1246700, 20609294, 100990000000]]

In [3]:
df = pd.DataFrame(countries, columns=headers)

In [4]:
df

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [9]:
def big_countries(countries: pd.DataFrame) -> pd.DataFrame:
    countries = countries.where((countries["area"] >= 3000000 ) | (countries["population"] >= 25000000)).dropna()
    return countries[["name", "population", "area"]]

In [10]:
big_countries(df)

          name  population       area
0  Afghanistan  25500100.0   652230.0
2      Algeria  37100000.0  2381741.0