# 596. Classes More Than 5 Students
[問題](https://leetcode.com/problems/classes-more-than-5-students/description/?envType=study-plan-v2&envId=30-days-of-pandas&lang=pythondata)

In [4]:
import pandas as pd

In [5]:
courses = """
| student | class    |
| A       | Math     |
| B       | English  |
| C       | Math     |
| D       | Biology  |
| E       | Math     |
| F       | Computer |
| G       | Math     |
| H       | Math     |
| I       | Math     |
"""

In [28]:
courses = courses.replace(" ", "")
with open("data.txt", "w") as f:
    f.write(courses)
df = pd.read_csv("data.txt", sep="|")
df.dropna(axis=1, inplace=True)

In [29]:
def find_classes(course: pd.DataFrame) -> pd.DataFrame:
    count = course.groupby("class").count().reset_index()
    count = count[count["student"] >= 5]
    return count[["class"]]

In [30]:
find_classes(df)

  class
3  Math