# 608. Tree Node
[問題](https://leetcode.com/problems/tree-node/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針

root: p_idがNoneのもの。  
inner: p_idがNoneでない、かつ、p_idの中にidが存在する。  
leaf: p_idがNoneでない、かつ、p_idの中にidが存在しない。

In [1]:
import pandas as pd

In [26]:
data = [[1, None], [2, 1], [3, 1], [4, 2], [5, 2]]
tree = pd.DataFrame(data, columns=['id', 'p_id']).astype({'id':'Int64', 'p_id':'Int64'})

In [27]:
tree

   id  p_id
0   1  <NA>
1   2     1
2   3     1
3   4     2
4   5     2

In [32]:
def tree_node(tree: pd.DataFrame) -> pd.DataFrame:
    root = tree[tree["p_id"].isna()]
    root["type"] = "Root"
    # p_idに含まれるidはinner
    tree = tree.dropna(subset="p_id")
    id = tree["id"].isin(tree[tree["p_id"].notna()]["p_id"])
    inner = tree[id]
    inner["type"] = "Inner"

    # p_idに含まれないidはleaf
    id = ~tree["id"].isin(tree[tree["p_id"].notna()]["p_id"])
    leaf = tree[id]
    leaf["type"] = "Leaf"

    answer = pd.concat([root, inner, leaf])
    return answer[["id", "type"]]

In [33]:
tree_node(tree)

C:\Users\takuya kinoshita\AppData\Local\Temp\ipykernel_6340\895282021.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  root["type"] = "Root"
C:\Users\takuya kinoshita\AppData\Local\Temp\ipykernel_6340\895282021.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inner["type"] = "Inner"
C:\Users\takuya kinoshita\AppData\Local\Temp\ipykernel_6340\895282021.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  leaf["type"] = "Leaf"

   id   type
0   1   Root
1   2  Inner
2   3   Leaf
3   4   Leaf
4   5   Leaf

## Test scripts

In [6]:
root = tree[tree["p_id"].isna()]

In [7]:
root["type"] = "Root"

C:\Users\takuya kinoshita\AppData\Local\Temp\ipykernel_6340\2042170247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  root["type"] = "Root"

In [8]:
id = tree["id"].isin(tree[tree["p_id"].notna()]["p_id"])

In [9]:
id

0     True
1     True
2    False
3    False
4    False
Name: id, dtype: boolean

In [10]:
inner = tree[id]

In [11]:
inner = inner.dropna(subset="p_id")

In [12]:
inner["type"] = "Inner"

In [13]:
id = ~tree["id"].isin(tree[tree["p_id"].notna()]["p_id"])

In [14]:
id

0    False
1    False
2     True
3     True
4     True
Name: id, dtype: boolean

In [15]:
leaf = tree[id].dropna(subset="p_id")

In [16]:
leaf["type"] = "Leaf"

In [17]:
answer = pd.concat([root, inner, leaf])

In [18]:
answer

   id  p_id   type
0   1  <NA>   Root
1   2     1  Inner
2   3     1   Leaf
3   4     2   Leaf
4   5     2   Leaf

In [19]:
answer[["id", "type"]]

   id   type
0   1   Root
1   2  Inner
2   3   Leaf
3   4   Leaf
4   5   Leaf