# 613. Shortest Distance in a Line
[問題](https://leetcode.com/problems/shortest-distance-in-a-line/description/?envType=study-plan-v2&envId=premium-sql-50)

## 解答の方針
x = x以外でmergeする。

In [2]:
import pandas as pd

In [3]:
data = [[-1], [0], [2]]
point = pd.DataFrame(data, columns=['x']).astype({'x':'Int64'})

In [4]:
point = """
| x     |
| 18401 |
| 1012  |
| 9839  |
| 6231  |
| 1644  |
| 9483  |
| 2576  |
| 4390  |
| 14207 |
| 18064 |
"""

In [5]:
point = point.replace(" ", "")
with open("data.txt", "w") as f:
    f.write(point)
point = pd.read_csv("data.txt", sep="|")
point = point.dropna(axis=1)

In [6]:
point

       x
0  18401
1   1012
2   9839
3   6231
4   1644
5   9483
6   2576
7   4390
8  14207
9  18064

In [19]:
def shortest_distance(point: pd.DataFrame) -> pd.DataFrame:
    merged = point.merge(point, how="cross").query("x_x != x_y")
    merged["diff"] = abs(merged["x_x"] - merged["x_y"])
    min_diff = merged["diff"].min()
    return pd.DataFrame({"shortest": [min_diff]})

In [20]:
shortest_distance(point)

   shortest
0       337

## Test scripts

In [13]:
merged = point.merge(point, how="cross").query('x_x != x_y')

In [14]:
merged

      x_x    x_y
1   18401   1012
2   18401   9839
3   18401   6231
4   18401   1644
5   18401   9483
..    ...    ...
94  18064   1644
95  18064   9483
96  18064   2576
97  18064   4390
98  18064  14207

[90 rows x 2 columns]

In [15]:
merged["diff"] = abs(merged["x_x"] - merged["x_y"])

In [16]:
merged

      x_x    x_y   diff
1   18401   1012  17389
2   18401   9839   8562
3   18401   6231  12170
4   18401   1644  16757
5   18401   9483   8918
..    ...    ...    ...
94  18064   1644  16420
95  18064   9483   8581
96  18064   2576  15488
97  18064   4390  13674
98  18064  14207   3857

[90 rows x 3 columns]

In [17]:
min_diff = merged["diff"].min()

In [18]:
min_diff

np.int64(337)