In [72]:
str = "kdobjmes"

In [73]:
s = list(str.split())
s

TypeError: 'list' object is not callable

In [ ]:
w1 = []
for s in str:
    w1.append(s)
w1

['k', 'd', 'o', 'b', 'j', 'm', 'e', 's']

In [ ]:
w1.sort()
w1

['b', 'd', 'e', 'j', 'k', 'm', 'o', 's']

In [ ]:
p = w1.pop(0)
p

'b'

In [ ]:
for i in range(100, 0, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
def valid():
    for i in range(10):
        if i > 3:
            return True 
    print(i)
    return False

valid()

True

In [ ]:
for i in range(10, 14):
    print(i)

10
11
12
13

In [ ]:
chank_dict = dict()

In [ ]:
if 1 in chank_dict:
    chank_dict[1] += 1
else:
    chank_dict[1] = 1

In [ ]:
print(chank_dict)

{1: 1}

In [ ]:

sentence = "takuyakinoshita"

In [ ]:
print([*sentence])

['t', 'a', 'k', 'u', 'y', 'a', 'k', 'i', 'n', 'o', 's', 'h', 'i', 't', 'a']

In [ ]:
splitted = [*sentence]

In [ ]:
answer = "".join(splitted)

In [ ]:
print(answer)

takuyakinoshita

In [ ]:
sentence

'takuyakinoshita'

In [ ]:
from typing import List
print(list(sentence))

['t', 'a', 'k', 'u', 'y', 'a', 'k', 'i', 'n', 'o', 's', 'h', 'i', 't', 'a']

In [ ]:
names = "this is a sky"
splitted = names.split()
print(splitted)

['this', 'is', 'a', 'sky']

In [ ]:
nums = [1,2,3,4]

In [ ]:
type(nums)

list

In [ ]:
nums.pop(1)

2

In [ ]:
nums

[1, 3, 4]

In [ ]:
nums = [20,100,10,12,5,8]

In [ ]:
def increasing_tripet(nums):
    first_num = float("inf")
    second_num = float("inf")
    for n in nums:
        if n <= first_num:
            first_num = n
        elif n <= second_num:
            second_num = n
        else:
            yield True
    yield False

In [ ]:
for result in increasing_tripet(nums):
    if result:
        print(True)
        break
    else:
        print(False)

False

In [ ]:
from typing import List
class Solution443(object):
    def compress(self, chars: List[str]) -> int:
        char_list = {}
        for char in chars:
            if char not in char_list:
                char_list[char] = 1
            else:
                char_list[char] += 1
        print(char_list)

        answer = []
        for k, v in char_list.items():
            answer.append(k)
            if len(v) > 1:
                v.split()
            answer.append(v)
        print(answer)

In [ ]:
chars = ["a", "a", "b", "b", "b"]

In [ ]:
Solution443().compress(chars)

{'a': 2, 'b': 3}
['a', 2, 'b', 3]

In [74]:
s = "takuyakinoshita"
chars = list(s)

TypeError: 'list' object is not callable